@model IEnumerable<Sandbox.ShoppingCart.Models.Category>

<h2>Categories</h2>

<ul>
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(@category.CategoryName, "OverviewCategory", "Product", new { categoryName = @category.CategoryName }, null)</li>        
    }
</ul>