@model Sandbox.ShoppingCart.Models.PurchaseOrder
@{
    ViewBag.Title = "OrderDetails";
}

@*TODO: move text strings into resources*@
<h2>OrderDetails</h2>

<div class="container">
    <h2>Purchased Items</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>@Resources.Main.Price</th>
                <th>Qty Ordered</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchasedProduct in Model.PurchaseItems)
            {
                <tr>
                    <td>@purchasedProduct.Name</td>
                    <td>@purchasedProduct.Description</td>
                    <td>$@purchasedProduct.Price</td>
                    <td>@purchasedProduct.QtyOrdered</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="font-weight-bold">Total price: $@Model.TotalPrice</div>

    @*@Html.ActionLink(Resources.Main.Place_an_order, "GetCart", "Order")*@
</div>
